<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Day-ahead auction simulator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Nathan22177"/>
    <meta name="referrer" content="no-referrer"/>
    <meta name="referrer" content="never"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        p {
            word-wrap: break-word;
        }

        .jumbotron {
            height: 100vh;
            margin-bottom: -500px;
        }

        .error-img {
            background-color: transparent;
        }

    </style>
</head>
<body>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><p>ERROR 500</p></h1>
        <p class="lead">Oops, something went wrong on the server</p>
        <p class="lead">I suggest come back later</p>
    </div>
</div>
<script src="https://kit.fontawesome.com/539bdd1ce4.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</body>
</html>